<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style="font-size: 22px;">python 언어로 vsCode를 사용하여 프로젝트를 진행해 왔습니다.
          Cursor 사용 경험이 있으며 작은 프로그램을 만들더라도 설계와 구상에 많은 시간을
          사용합니다. 코드 작성 후에 리팩토링하여 추후 유지보수 용이한 코드를 작성하기 위하여 노력합니다. 현재 객체 지향적인 코드 작성 방법을 공부하고 있습니다.
        </p>
      </div>
      <div class="col-lg-4">
        <p style="font-size: 22px;">주로 문제를 해결하기 위한 방법으로 다이어그램을 그려서 틀린 부분을 찾거나 디버깅을 통해 실행 순서에서 잘못된 값이 들어있는지 확인합니다.
          모르는 것도 많고 궁금한 것도 많지만 최선을 다해 업무에 녹아들 수 있도록 노력하겠습니다.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/SinMoonGh" class="btn btn-lg btn-outline">
          <i class="fa fa-brands fa-github"></i> github로 바로가기
        </a>
      </div>
    </div>
  </div>
</section>