<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="profile-pic" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.name }}</span>
          <hr class="star-light" />
          <!-- <span class="skills">{{ site.skills }}</span> -->
          <p class="skills" style="text-align: left;">python과 Django를 사용하여 <a href="https://github.com/SinMoonGh/Franding" style="color: #f3eeee; text-decoration: underline; font-weight: bold;">Franding</a>을 개발하며 <strong>DB 및 API를 설계</strong>하는 방법을 고민하고, 여러 방법들을 적용해 보며
            서비스가 매끄럽게 동작할 수 있도록 노력하였습니다. openai, hugging face 등 python이 제공하는 외부 API가 기존 코드와 잘 융합 될 수 있도록 
            <strong>디버깅하며 여러 상황에서 발생하는 오류를 체크하고, 해결한 경험</strong>이 있습니다. AWS를 이용하여 서비스를 배포할 때 Docker 컨테이너에서 <strong>서비스의 문제를 발견하고 
            이를 해결한 경험</strong>이 있습니다.<br><br>
            현재는 Java를 활용하여 <strong>TDD와 객체 지향적인 코드 작성</strong>에 집중하고 있습니다. 이전에는 절차지향에 가까운 방식으로 코드를 작성하며 
            객체 간 높은 의존도와 디자인 패턴에 대한 고민을 간과하곤 했습니다. 하지만 우아한테크코스-프리코스에서 배운 내용을 바탕으로 
            Franding을 유지보수하며 <strong>문제 발생 시 즉각적으로 대응할 수 있는 안정적이고 유지보수 가능한 코드를 작성하는 것을 목표</strong>로 삼고 있습니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
